@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  font-display: swap;
  src: url("/fonts/inter-variable.woff2") format("woff2");
}
@font-face {
  font-family: 'Roboto Slab';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/roboto-slab-variable.woff2") format('woff2');
}
html {
  font-size: 18px;
}
@media (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #343a3f;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 600;
  line-height: 1.1;
}
h1,
.h1 {
  margin-top: 0;
  font-size: 2rem;
}
h2,
.h2 {
  font-size: 1.35rem;
}
h3,
.h3 {
  font-size: 1.1rem;
}
h4,
.h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
h5,
.h5 {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
}
h6,
.h6 {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
}
p {
  margin-top: 0;
  margin-bottom: 16px;
}
p:last-child {
  margin-bottom: 0;
}
hr {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  border: 0;
  border-top: 1px solid rgba(33,39,42,0.1);
}
#main-content a,
.footer a {
  color: #0043ce;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: rgba(0,67,206,0.25);
  text-underline-offset: 4px;
}
#main-content a:hover,
.footer a:hover {
  color: #2a6fff;
  background: #e5ecfa;
}
a:not(.project-card a),
button {
  display: inline-flex;
}
a:not(.project-card a):active,
button:active {
  transform: scale(0.98);
}
*:focus {
  outline-width: 0;
}
*:focus-visible {
  outline-width: 2px;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background: #fff;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.main {
  padding-top: 60px;
}
::selection {
  background: #d0e2ff;
  text-shadow: none;
}
.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 960px;
}
.header {
  margin-top: 16px;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #333;
  margin-right: 0.5rem;
  text-decoration: none;
}
.logo__name {
  line-height: 1;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
}
.menu {
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.5rem;
}
@media (min-width: 576px) {
  .menu {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .menu {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .menu {
    width: unset;
  }
}
.menu__item {
  flex-grow: 1;
  justify-content: center;
}
@media (min-width: 992px) {
  .menu__item {
    flex-grow: 0;
  }
}
.menu__link {
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  white-space: nowrap;
  text-align: center;
  transition: background 0.15s;
  color: #333 !important;
  line-height: 1.5;
  border-radius: 8px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 7px;
}
.menu__link:hover,
.menu__link.--active {
  background-color: #f2f2f2;
}
.footer {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 0.875rem;
}
.footer__heading {
  border-top: 1px solid #dde1e6;
  margin-top: 0;
  padding-top: 24px;
}
.contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.contacts__links {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  gap: 16px;
  margin: 0;
  padding: 0;
}
.contacts__item {
  display: block;
}
.contacts__copyrights {
  display: flex;
  gap: 16px;
}
.row {
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.hero-section,
.project-section {
  padding: 32px 16px;
  border-radius: 12px;
}
@media (min-width: 576px) {
  .hero-section,
  .project-section {
    padding: 32px;
  }
}
.project-section {
  background: #edf4fe;
}
.skip-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  font-size: 0.8rem;
  overflow: hidden;
}
.skip-link:focus {
  transform: translateY(0);
  overflow: visible;
  top: 12px;
  left: 12px;
}
.img-fluid,
.project-card__img,
.project-header__img,
.project-body img {
  max-width: 100%;
  height: auto;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.tag {
  padding: 0 8px;
  font-size: 0.875rem;
  border-radius: 8px;
  border: 1px solid #878d96;
  color: #697077;
  background: #f7faff;
}
.tag.--ux-design {
  border-color: #78a9ff;
  color: #0f62fe;
  background: #f7faff;
}
.tag.--ui-design {
  border-color: #a56eff;
  color: #8a3ffc;
  background: #faf9ff;
}
.tag.--ux-research {
  border-color: #24a148;
  color: #198038;
  background: #f0ffef;
}
.scroll-to-top {
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 500;
  bottom: 10px;
  right: 10px;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border: 0;
  border-radius: 50%;
  background: rgba(255,255,255,0.6);
  color: rgba(0,0,0,0.8);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.3);
  font-size: 1.5rem;
  transition: background 0.2s ease, box-shadow 0.2s ease;
}
.scroll-to-top:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.09), 0 1px 5px 0 rgba(0,0,0,0.07), 0 3px 1px -2px rgba(0,0,0,0.1);
}
.hero-section {
  border: 2px solid #fee076;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
}
@media (min-width: 576px) {
  .hero-section {
    grid-template-columns: minmax(240px, 2fr) 7fr;
  }
}
.hero-section h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.hero-section__img {
  max-width: 30%;
  margin: 0 auto;
  border-radius: 50%;
}
@media (min-width: 576px) {
  .hero-section__img {
    max-width: unset;
  }
}
.experience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 8px;
}
.experience-item {
  display: flex;
  gap: 12px;
}
.experience-item__img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  overflow: hidden;
}
.experience-item__role {
  margin: 0 0 4px;
}
.experience-item__company,
.experience-item__years {
  color: #697077;
}
.project-list {
  display: grid;
  grid-gap: 1rem;
}
@media (min-width: 576px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}
.project-card {
  background: #fff;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 7px rgba(0,0,0,0.15);
  will-change: transform;
  transform: translate3d(0, 0, 0);
  transition: transform 0.1s linear;
/* &.--unpublished
		//background: alpha($sd-color__palette-neutral-white, 40%)
		box-shadow: unset
		//filter: grayscale(0) */
/* &__img
		position: relative

		&.--external:after
			content: ''
			width: 40px
			height: @width
			display: block
			position: absolute
			left: 16px
			bottom: -8px
			background-image: url("../imgs/external-link.svg")
			background-repeat: no-repeat
			background-size 20px
			background-color $link-color
			background-position: center center
			border-radius: 50% */
/* &__caption
		display grid
		gap 4px
		line-height: 1.4
		padding 16px */
}
.project-card:active {
  transform: scale(0.995);
}
.project-card__tags {
  margin-bottom: 12px;
}
.project-card:focus-within:has(:focus-visible) {
  outline: 2px solid;
}
.project-card__link:focus {
  outline: 0;
}
.project-card__link:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.project-card__link:hover:after {
  background: rgba(0,67,206,0.6);
  mix-blend-mode: lighten;
}
.project-card__text {
  display: block;
  padding: 16px;
}
.project-card__link {
  display: inline-block;
  font-size: 1.25rem;
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.1;
  font-weight: 600;
  border: 0 !important;
  text-decoration: none;
}
.project-card__img {
  display: block;
}
.project-card__desc,
.project-card__date {
  color: #121619;
}
.project-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 12px;
  background: #edf4fe;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.project-header__content {
  padding: 32px 16px;
}
.project-header__h1 {
  margin: 0;
}
.project-header__img {
  display: block;
}
.project-nav {
  display: flex;
  margin-bottom: 8px;
}
.project-nav__neighbours {
  display: flex;
  margin-left: auto;
  gap: 1rem;
}
.project-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.project-section h2 {
  margin-top: 0;
}
@media (min-width: 992px) {
  .project-cols {
    display: grid;
    gap: 32px;
    grid-template-columns: 3fr 5fr;
  }
}
.project-cols h3:first-child {
  margin-top: 0;
}
@media (max-width: 767px) {
  .project-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
}
.project-video iframe {
  display: block;
}
@media (max-width: 767px) {
  .project-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.project-body img {
  display: block;
  border: 1px solid #fff;
  border-radius: 12px;
}
.article-project .row {
  display: grid;
  gap: 32px;
}
@media (min-width: 576px) {
  .article-project .row {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
